.root {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--soft-black);
}

.root div {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.root div * {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: .2vw;
    color: whitesmoke;
} 

.root div h1 {
    margin-bottom: 5vh;
}

.root .img {
    border-radius: 100vh;
}

@media screen and (max-width: 499px) {
    .root div h1 {
        font-size: 1.5rem;
    }
}