.hero {
    min-height: 100vh;
    padding: 0 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    background-image: linear-gradient(45deg, rgb(14, 17, 17), rgb(35, 43, 43));
    background-size: 500%;
    box-sizing: border-box;
    animation: hero-loop 15s ease infinite;
}

.hero div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 3.5vw;
    letter-spacing: .75vw;
}

.hero p {
    font-size: 1.1vw;
    font-weight: lighter;
    letter-spacing: 1.5vw;
}

.hero pre {
    font-size: 1.1vw;
    font-weight: lighter;
    letter-spacing: .1vw;
    margin-top: 3.5vh;
}

.hero a {
    color: whitesmoke;
    text-decoration: none;
}

.hero a:hover {
    border-bottom: whitesmoke thin solid;
}

.about {
    min-height: 100vh;
    padding: 5vh 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: rgb(14, 17, 17);
    background-color: whitesmoke;
    box-sizing: border-box;
}

.about h1 {
    letter-spacing: .15vw;
}

.about > div {
    display: flex;
    align-items: center;
}

.about > div div {
    padding: 5vh 5vw;
}

.about > div div p {
    font-size: larger;
    text-align: justify;
    letter-spacing: .05vw;
}

.rep {
    min-height: 100vh;
    padding: 5vh 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: rgb(14, 17, 17);
    background-color: whitesmoke;
    box-sizing: border-box;
}

.rep h1 {
    letter-spacing: .15vw;
}

.rep > div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rep > div div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.act {
    min-height: 100vh;
    padding: 5vh 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: rgb(14, 17, 17);
    background-color: whitesmoke;
    box-sizing: border-box;
}

.act h1 {
    letter-spacing: .15vw;
}

.ach {
    min-height: 100vh;
    padding: 5vh 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: rgb(14, 17, 17);
    background-color: whitesmoke;
    box-sizing: border-box;
}

.ach h1 {
    letter-spacing: .15vw;
}

@keyframes hero-loop {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}