:root {
    --soft-black: rgb(14, 17, 17);
    --soft-gray: rgb(35, 43, 43);
    --soft-white: rgb(227, 237, 240);
}

::-webkit-scrollbar {
    width: 15px;
    position: absolute;
    right: 0;
}

::-webkit-scrollbar-track {
    background-color: whitesmoke;
}

::-webkit-scrollbar-thumb {
    background-color: var(--soft-black);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}