.nav {
    min-height: 9vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    box-sizing: border-box;
    background-color: transparent;
    z-index: 9999;
}

.nav h3 {
    font-weight: 300;
    font-size: 2vw;
    text-transform: uppercase;
    letter-spacing: .2vw;
    color: whitesmoke;
    transition: 250ms ease-out;

}

.nav div {
    min-width: 30vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 250ms ease;
}

.nav div a {
    padding: 1vh 1vw;
    text-decoration: none;
    font-size: 1.25vw;
    font-weight: lighter;
    letter-spacing: .09vw;
    color: whitesmoke;
    transition: 250ms ease-out;
}

.nav div a:hover {
    color: var(--soft-black);
    background-color: whitesmoke;
}

.scrolled {
    background-color: whitesmoke;
    box-shadow: 0 -10px 20px 0 var(--soft-black);
    transition: 250ms ease-out;

}

.scrolled h3, .scrolled div a {
    color: rgb(14, 17, 17);
    transition: 250ms ease-out;
}

.scrolled div a:hover {
    color: whitesmoke;
    background-color: var(--soft-black);
}

@media screen and (max-width: 1099px) {
    .nav h3 {
        font-size: 1.5rem;
    }
    
    .nav div a {
        font-size: .9rem;
    }
}

@media screen and (max-width: 849px) {
    .nav div {
        min-width: 40vw;
    }
}

@media screen and (max-width: 599px) {
    .nav div {
        min-width: 50vw;
    }
}